<html>
  <body>
    <h1> <%= node['fqdn'] %> <%= node['recipes'] %> <%= node['roles'] %> <%= node['ohai_time'] %> </h1>
    <h1> <%= node['platform'] %> <%= node['platform_version'] %> <%= node['ipaddress'] %> </h1>
    <h1> <%= node['domain'] %> <%= node['macaddress'] %> <%= node['hostname'] %> </h1>
  </body>
</html>